<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Fraunces:wght@700&display=swap">
{{ $style := resources.Get "css/style.css" | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<!-- SVG favicon from static/xananode-icon.svg -->
<link rel="icon" type="image/svg+xml" href="{{ "xananode-icon.svg" | relURL }}">

